<h1>Data Management Plan</h1>
<p><strong>{{ ctx.project.name }}</strong></p>
<p>Generated on {{ dc.doc.created_at|datetime_format("%Y-%m-%d") }}.</p>
<p>Created in <a href="{{ dc.config.service_url }}">{{ dc.config.service_name }}</a>.</p>
