<aside class="document-provenance">
  <p>Knowledge model: {{ dc.pkg.name }}, {{ dc.pkg.version }} ({{ dc.pkg.organization_id }}:{{ dc.pkg.km_id }}:{{ dc.pkg.version }})</p>
  <p>Generated with <a href="{{ dc.config.service_url }}">{{ dc.config.service_name }}</a>.</p>
</aside>
